body {
    background-color: rgb(65, 146, 192);
    text-align: center;
}

.image{
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5%;
    height: 400px;
    text-align: center;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

h1{
    background-color: pink;
    font-size: 50px;
}

h2{
    background-color: pink;
    font-size: 25px;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
